.spacer {
    flex: 1 1 auto;
  }

.header {
    background-color: orangered;
}
.header-message {
    font-family: 'Roboto-Medium', sans-serif;
    font-size: medium;
    color: white;
    padding-right: 10px;
}
  